

# Python virtual environments
.venv/
venv/
.venv_ci/
venv_ci/
.venv_ci311/
venv_ci311/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python bytecode
__pycache__/
*.pyc

# Environment variables file
.env

# IDE/editor directories
.idea/
.vscode/

# Parquet/data lake (ignore at any depth)
**/data_lake/
tests/data_lake/

# Ignore Python caches everywhere
**/__pycache__/
**/*.pyc

# macOS / Windows system files
.DS_Store
Thumbs.db
